@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model yapf1.Models.ViewModels.RegisterViewModel

<style>
    .parent {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        align-content: center; 
        justify-content: center; 
        overflow: auto;   
    }
    .avatar-block{
         display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .block {
         
        
        img {
            display: block;
            border: none;
        }
    }
</style>
  <link href="~/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/css/style.css" rel="stylesheet">


<body>
     
    <div class="block">
        <div class="form">
            <h2>Регистрация </h2>
            <form method="post" asp-controller="Account" asp-action="Register"  enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Email"></label><br />
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div><br>
                <div>
                    <label asp-for="Name"></label><br />
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div><br>
                <div>
                    <label asp-for="Password"></label><br />
                    <input class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div><br>
                <div>
                    <label asp-for="PasswordConfirm"></label><br />
                    <input class="form-control" asp-for="PasswordConfirm" />
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
                 
                <br>
                <label>Аватар пользователя</label>
                 
                    
                <div style="margin-top: 30px;"  class="form-control fileform">
                    <div  class="selectbutton">Обзор</div>
                        <input style="cursor: pointer;" onchange="loadFile(event)" accept=".jpg, .png, .bmp"  
                            class="input-file" name="imageFile" id="upload" type="file"/>
                            <button type="reset" id="file_reset" style="display:none; cursor: pointer;"></button>
                    </div>
                
                <div class="exmp3" style="text-align: -webkit-center; ">
                    <img style="display: none; object-fit: cover; " id="output"/>
                </div>
                 
                
                <br>
                <div>
                    <input class="btn btn-outline-primary" type="submit" value="Регистрация" />
                </div>
            </form>
        </div>
    </div>
       <script>
           var loadFile = function(event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                $('#output').css("height", "80px");
                $('#output').css("margin-left", "15px");
                $('#output').css("border-radius", "100px");
                $('#output').css("width", "80px");
                $('#output').css("display", "inline-block");
            };
       </script>
       <script>
           //File check
           $('#upload').bind('change', function() {

                var size = this.files[0].size; // размер в байтах
                var name = this.files[0].name;
                var input = $("#upload");
                
                if(5000000<size){
                     
                    
                    alert('Слишком большой файл');
                    
                    
                    return;

                }

                var fileExtension = ['jpg', 'png', 'bmp']; // допустимые типы файлов
                if ($.inArray(name.split('.').pop().toLowerCase(), fileExtension) == -1) {

                alert('Неподдерживаемый тип файла');
                return;

                }
                 var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                $('#output').css("height", "80px");
                $('#output').css("margin-left", "15px");
                $('#output').css("border-radius", "100px");
                $('#output').css("width", "80px");
                $('#output').css("display", "inline-block");

            });
       </script>
</body>