@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="leftcolumn">
             
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h2>Хока Блог</h2>
                    <div style="margin-bottom: 20px; height:100px; background-image: url(../img/hawk_logo.png); background-size: cover;">
                        
                    </div>
                    <p>Здесь Вы можете следить за всеми событиями нашей жизни, смотреть выступления, разглядывать фото и читать новости</p>
                </div>
                <div class="card">
                    <h3 style="text-align: center;">Интересное</h3>
                    
                </div>
                <div class="card" style="text-align: center;">
                    <h3>Мы в соцсетях</h3>
                    <div style=" margin: 0 auto; display: flex; flex-direction: row; text-align: center; font-family: fontawesome !important;">
                        <div class="social vk">
                            <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>    
                        </div>
                        <div class="social instagram">
                            <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                        </div>
                        <div class="social instagram">
                            <a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        </div>
                        <div class="social youtube">
                            <a href="#" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>